<app-navbar></app-navbar>
<div class="container-fluid">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <h2>Here are some links to help you start: </h2>
  <ul id="tutos" class="list-group">
    <li class="list-group-item">
      <a target="_blank" rel="noopener noreferrer" href="https://angular.io/tutorial">Tour of Heroes</a>
    </li>
    <li class="list-group-item">
      <a target="_blank" rel="noopener noreferrer" href="https://angular.io/cli">CLI Documentation</a>
    </li>
    <li class="list-group-item">
      <a target="_blank" rel="noopener noreferrer" href="https://blog.angular.io/">Angular blog</a>
    </li>
  </ul>


  <app-todo-list [items]="items" (markedAsDone)="markAsDone($event)"></app-todo-list>
  <app-todo-form (todoAdded)="addTodo($event)"></app-todo-form>

  <router-outlet></router-outlet>
</div>
